p {
    color: #565a5f;
}

.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-meta > div {
  margin-bottom: 5px;
}
.article-meta .article-date,
.article-meta .article-category {
  margin-right: 10px;
  color: #9a9ea3;
}
.article-meta a {
  color: #9a9ea3;
  text-decoration: none;
}

.article-meta .article-date,
.article-meta .article-category {
  color: #9a9ea3;
}

.article-category {
  line-height: 1em;
}

.article-category-footer
{
    float: left;
}

.article-title {
  text-decoration: none;
  font-size: 2em;
  line-height: 1.1em;

}

a.article-title-link {
    text-decoration: none;
    color: #565a5f;
}

.article-date,
.article-category-link,
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  color: #999;
  line-height: 1em;
}

.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  margin-right: 20px;
}
.article-share-link-footer {
  cursor: pointer;
  float: right;
  margin-right: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}

.article-entry {
  color: #565a5f;
  padding: 0 20px;
  line-height: 1.6em;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}

.article-footer {
  text-transform: uppercase;
  line-height: 1.6em;
  border-top: 1px solid #eceff2;
  padding-top: 1.6em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #565a5f;
}

#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 1200px) {
  #article-nav {
    margin: 40px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #787c81;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #565a5f;
}
@media screen and (min-width: 1200px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  letter-spacing: 2px;
  line-height: 1em;
  font-weight: bold;
  color: #565a5f;
  text-transform: uppercase;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}

header .header-content .header-content-inner p {
    margin-bottom: 0px;
    color: #fff;
}

@media(min-width:768px) {
    header {
        min-height: 50%;
    }
}

button.btn-flip:hover {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a.no-decoration { text-decoration: none; }

section#divider {
    background-color: #f05f40;
    padding: 0px;
    height: 20px;
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

section#contact .text-danger {
    color: #e74c3c;
}

section#standalone-page,
section#blog-list, 
section#blog-post
{
    padding: 20px 0;
}

section#standalone-page p {
  line-height: 1.6em;
  margin: 1.6em 0;
}

#footer {
  padding: 20px 0;
  border-top: 1px solid #eceff2;
  color: #565a5f;
  font-size: 16px;
  text-align: center;
}
#footer .outer {
  margin-bottom: 0;
}
#footer a {
  color: #38b7ea;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}